<div class="row navbar navbar-fixed-top">
  <div class="col-md-10 col-md-offset-1">

    <div class="divbar-header" style="padding-left: 0px;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Django Blog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="#">About</a></li>
        <li ><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
        <li><a href="">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
        <li><a href="">Register <span class="glyphicon glyphicon-user"></span></a></li>
      </ul>
    </div>
    <hr class="hr_customized">
  </div>
</div>