{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Django Blog {% block title %}{% endblock title %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	{% block stylesheet %}{% endblock stylesheet %}

</head>
<body>
	
	<!-- <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script> -->
	
	<div class="container base-container">
		{% if request.user.is_authenticated %}
			Welcome {{ request.user.username }}
		{% endif %}

		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				{% include 'partials/_messages.html' %}
				{% block container %}{% endblock container %}
			</div>
		</div>
		<hr>
		<div class="text-center footer">
			<p>&copy; Copyright Pritom Saha Akash</p>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.content-marked').each(function(){
				var content = $(this).text();
				$(this).html(marked(content));
			});
		});

		$(document).ready(function(){
			$('.content-marked img').each(function(){
				$(this).addClass('img-responsive');
			});
		});
	</script>

	{% block scripts %}{% endblock scripts %}


</body>
</html>